html,
body {
  color: white;
  background-color: #151520;
  font-weight: 400;
}

// temporary fix for padding cards
[contain], .contain, .container {
  padding: 0 4%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

